<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System</h1>
        <form action="/recommend" method="post">
            <label for="movie">Choose a movie:</label><br>
            <select id="movie" name="movie" required>
                {% for movie in movies %}
                <option value="{{ movie }}">{{ movie }}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="Get Recommendations">
        </form>
        {% if recommendations %}
        <h2>Top 10 recommendations for '{{ movie }}':</h2>
        <ul>
            {% for recommendation in recommendations %}
            <li>{{ recommendation }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
